
@maxWidth: 1200px;
@spacer-base: 20px;
@spacer-xl: @spacer-base * 2;
@spacer-lg: @spacer-base * 1.5;
@spacer-sm: @spacer-base / 2;
@spacer-xs: @spacer-base / 4;

@icon-whitespace: @spacer-sm;

@screen-xs: 520px;



.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page {
    display: block;
    width: 100%;
    max-width: @maxWidth;
    margin: 0 auto;
    padding: 0 @spacer-xl;
    @media screen and (max-width: 768px) {
        padding: 0 @spacer-base;
    }
}

header {
	padding: @spacer-base;
	margin: 0 -@spacer-base @spacer-base -@spacer-base;
	background: #efefef;
}

.productContainer {

}

h2, .h2 {
	margin: 0;
	font-size: 26px;
	font-weight: normal;
	line-height: @spacer-lg;
	color: navy;
}

button {
    display: flex;
    padding: @spacer-sm @spacer-base;
    border: 1px solid #cdcaca;
    border-radius: @spacer-xs;
    color: white;
    background: gray;
    cursor: pointer;
    
	.productIcon {
		margin-right: @icon-whitespace;
		max-width: @spacer-base;
		max-height: @spacer-base;
	}
	.productIcon > svg {
		max-width: @spacer-base;
		max-height: @spacer-base;
	}
	.productButtonLabel {
		line-height: @spacer-base;
		vertical-align: top;
	}
	@media (max-width: @screen-xs) {
		padding: @spacer-sm @spacer-sm;	
	}
}


.comboHeader {
	.flex-container;
	@media (max-width: @screen-xs) {
		flex-direction: column;
	}
}

.comboHeader-heading {
	display: flex;
	align-items: flex-start;
	.flex-item-dominant;
	
	@media (max-width: @screen-xs) {
		margin-bottom: @spacer-sm;
	}
	
	.productIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: @spacer-xl;
		height: @spacer-xl;
		margin-right: @icon-whitespace;
	}
	.productIcon > svg {
		width: @spacer-xl;
		height: @spacer-xl;
		@media (max-width: @screen-xs) {
			width: @spacer-lg;
			height: @spacer-lg;	
		}
	}
	h2 {
		display: inline-block;
		padding: @spacer-xs 0;
		vertical-align: top;
	}
}
.comboHeader-action {
	button {
		@media (max-width: @screen-xs) {
			width: 100%;
			max-width: none;
		}
	}
}



.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.flex-item {
    flex: 2 1 auto;
}
.flex-item-dominant {
    flex: 3 1 auto;
}

.flex-item-recessive {
    flex: 0 2 auto;   
}
.flex-item-none {
    flex: unset;
}


