.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.flex-item {
  flex: 2 1 auto;
}
.flex-item-dominant {
  flex: 3 1 auto;
}
.flex-item-recessive {
  flex: 0 2 auto;
}
.flex-item-none {
  flex: unset;
}
.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page {
  display: block;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-device-width: 768px) {
  .page {
    padding: 0 20px;
  }
}
header {
  padding: 20px;
  margin: 0 -20px 20px -20px;
  background: #efefef;
}
h2,
.h2 {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 30px;
  color: navy;
}
h3,
.h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: navy;
}
.title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: navy;
  margin-bottom: 10px;
}
.account-detail {
  font-size: 13px;
  opacity: 0.5;
}
.page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
@media (min-device-width: 1201px) {
  .page-content {
    flex-direction: row;
  }
}
.cards {
  flex: 2 1 auto;
}
.rails {
  flex: 2 1 auto;
}
@media (min-device-width: 1201px) {
  .rails {
    min-width: 200px;
  }
}
.cards-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-device-width: 521px) and (max-device-width: 768px) {
  .card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (min-device-width: 769px) {
  .card {
    max-width: 50%;
  }
}
@media (min-device-width: 1000px) {
  .card {
    max-width: 33%;
  }
}
.card-body,
.card-footer {
  flex: 2 1 auto;
}
.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
@media (min-device-width: 521px) and (max-device-width: 768px) {
  .card-footer {
    border-top: 0;
  }
}
@media (max-device-width: 400px) {
  .card-footer {
    flex-direction: column;
  }
}
.card-footer-item {
  flex: 2 1 auto;
}
@media (min-device-width: 521px) and (max-device-width: 768px) {
  .card-footer-item:last-child {
    display: none;
  }
}
.rails-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
}
@media (max-device-width: 520px) {
  .rails-body {
    flex-direction: column;
  }
}
@media (min-device-width: 1201px) {
  .rails-body {
    flex-direction: column;
  }
}
.rails-item {
  flex: 2 1 auto;
}
.cards,
.rails {
  margin-bottom: 20px;
}
.card {
  margin-bottom: 10px;
}
.card-body {
  padding: 5px 20px;
  line-height: 20px;
}
.card-footer-item:last-child {
  text-align: right;
}
@media (max-device-width: 400px) {
  .card-footer-item:last-child {
    text-align: left;
  }
}

/*# sourceMappingURL=tswg.css.map */