
@maxWidth: 1200px;
@spacer-base: 15px;

.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.page {
    margin: 0;
    padding: @spacer-base * 2;
    background: #efefef;
    @media screen and (max-width: 768px) {
        padding: @spacer-base @spacer-base;
    }
}

.container {
    display: block;
    width: 100%;
    max-width: @maxWidth;
    margin: 0 auto;
    padding: 0;
}

.panel {
    margin: @spacer-base 0;
    padding: @spacer-base;
    
    border: 1px solid #cdcaca;
    border-radius: @spacer-base / 4;
    background: white;
    @media screen and (max-width: 768px) {
        padding: @spacer-base @spacer-base * 0.75;
    }
}

.panel-row {
    padding: @spacer-base 0;
    border-bottom: 1px solid #cdcaca;
    &:last-of-type {
        border-bottom: 0;
    }
}

.date {
    padding-right: @spacer-base;
    text-align: center;
    .day,
    .month {
        display: block;
    }
    @media screen and (max-width: 768px) {
        display: block;
        width: 100%;
        max-width: none !important;
        text-align: left;
        .day,
        .month {
            display: inline-block;
            margin-right: @spacer-base / 4;
            font-size: 16px;
        }
    }    
}

.form-group {
    padding-right: @spacer-base;
    text-align: left;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
        margin-bottom: 0.5rem;
    }
    &:last-of-type {
        padding-right: 0;
    }
    
    label {
        .truncate;
        line-height: @spacer-base;
        @media screen and (max-width: 768px) {
            margin-bottom: 0.25rem;
        }
        &.placeholder {
            display: block;
        }
    }
    
    button {
        line-height: @spacer-base * 1.5;
        padding: .5rem .75rem;
        border: 1px solid #cdcaca;
        border-radius: @spacer-base / 4;
        background: white;
    }
}

.form-control {
    .truncate;
    line-height: @spacer-base * 1.5;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.flex-item {
    order: 0;
    flex: 2 1 auto;
    align-self: auto;
    // min-width: 150px;
    // max-width: 400px;
}
.flex-item-1 {
    flex: 0 2 auto;
    @media screen and (min-width: 768px) {
        max-width: 150px;
    }
    @media screen and (max-width: 520px) {
        flex: 0 2 50%;
        min-width: 0;
    }    
}
.flex-item-0 {
    flex: unset;
}

.flex-item-dominant {
    flex: 3 1 auto;
}

.date + .flex-item {
    // flex: 0 1 auto;
}
