.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .page {
    padding: 0 20px;
  }
}
header {
  padding: 20px;
  margin: 0 -20px 20px -20px;
  background: #efefef;
}
h2,
.h2 {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 30px;
  color: navy;
}
button {
  display: flex;
  padding: 10px 20px;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  color: white;
  background: gray;
  cursor: pointer;
}
button .productIcon {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
}
button .productIcon > svg {
  max-width: 20px;
  max-height: 20px;
}
button .productButtonLabel {
  line-height: 20px;
  vertical-align: top;
}
@media (max-width: 520px) {
  button {
    padding: 10px 10px;
  }
}
.comboHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .comboHeader {
    flex-wrap: wrap;
  }
}
@media (max-width: 520px) {
  .comboHeader {
    flex-direction: column;
  }
}
.comboHeader-heading {
  display: flex;
  align-items: flex-start;
  flex: 3 1 auto;
}
@media (max-width: 520px) {
  .comboHeader-heading {
    margin-bottom: 10px;
  }
}
.comboHeader-heading .productIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  height: 40px;
  margin-right: 10px;
}
.comboHeader-heading .productIcon > svg {
  width: 40px;
  height: 40px;
}
@media (max-width: 520px) {
  .comboHeader-heading .productIcon > svg {
    width: 30px;
    height: 30px;
  }
}
.comboHeader-heading h2 {
  display: inline-block;
  padding: 5px 0;
  vertical-align: top;
}
@media (max-width: 520px) {
  .comboHeader-action button {
    width: 100%;
    max-width: none;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
.flex-item {
  flex: 2 1 auto;
}
.flex-item-dominant {
  flex: 3 1 auto;
}
.flex-item-recessive {
  flex: 0 2 auto;
}
.flex-item-none {
  flex: unset;
}

/*# sourceMappingURL=tswg.css.map */