.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page {
  margin: 0;
  padding: 30px;
  background: #efefef;
}
@media screen and (max-width: 768px) {
  .page {
    padding: 15px 15px;
  }
}
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.panel {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #cdcaca;
  border-radius: 3.75px;
  background: white;
}
@media screen and (max-width: 768px) {
  .panel {
    padding: 15px 11.25px;
  }
}
.panel-row {
  padding: 15px 0;
  border-bottom: 1px solid #cdcaca;
}
.panel-row:last-of-type {
  border-bottom: 0;
}
.date {
  padding-right: 15px;
  text-align: center;
}
.date .day,
.date .month {
  display: block;
}
@media screen and (max-width: 768px) {
  .date {
    display: block;
    width: 100%;
    max-width: none !important;
    text-align: left;
  }
  .date .day,
  .date .month {
    display: inline-block;
    margin-right: 3.75px;
    font-size: 16px;
  }
}
.form-group {
  padding-right: 15px;
  text-align: left;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form-group {
    margin-bottom: 0.5rem;
  }
}
.form-group:last-of-type {
  padding-right: 0;
}
.form-group label {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}
@media screen and (max-width: 768px) {
  .form-group label {
    margin-bottom: 0.25rem;
  }
}
.form-group label.placeholder {
  display: block;
}
.form-group button {
  line-height: 22.5px;
  padding: .5rem .75rem;
  border: 1px solid #cdcaca;
  border-radius: 3.75px;
  background: white;
}
.form-control {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22.5px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
.flex-item {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}
.flex-item-1 {
  flex: 0 2 auto;
}
@media screen and (min-width: 768px) {
  .flex-item-1 {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .flex-item-1 {
    flex: 0 2 50%;
    min-width: 0;
  }
}
.flex-item-0 {
  flex: unset;
}
.flex-item-dominant {
  flex: 3 1 auto;
}

/*# sourceMappingURL=tswg.css.map */