
@maxWidth: 1500px;
@spacer-base: 20px;
@spacer-xl: @spacer-base * 2;
@spacer-lg: @spacer-base * 1.5;
@spacer-sm: @spacer-base / 2;
@spacer-xs: @spacer-base / 4;

@icon-whitespace: @spacer-sm;

@screen-widescreen-minWidth: 1201px;
@screen-laptop-maxWidth: 1200px;
@screen-laptop-minWidth: 769px;

@screen-tablet-maxWidth: 768px;
@screen-tablet-minWidth: 521px;

@screen-handheld-maxWidth: 520px;
@screen-handheld-minWidth: 401px;

@screen-tiny-maxWidth: 400px;


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.flex-item {
    flex: 2 1 auto;
}
.flex-item-dominant {
    flex: 3 1 auto;
}

.flex-item-recessive {
    flex: 0 2 auto;   
}
.flex-item-none {
    flex: unset;
}


.truncate {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page {
    display: block;
    width: 100%;
    max-width: @maxWidth;
    margin: 0 auto;
    padding: 0 @spacer-xl;
    @media screen and (max-device-width: @screen-tablet-maxWidth) {
        padding: 0 @spacer-base;
    }
}

header {
	padding: @spacer-base;
	margin: 0 -@spacer-base @spacer-base -@spacer-base;
	background: #efefef;
}

.productContainer {

}

h2, .h2 {
	margin: 0;
	font-size: 26px;
	font-weight: normal;
	line-height: @spacer-lg;
	color: navy;
}

h3, .h3 {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	line-height: @spacer-lg;
	color: navy;
}

.title {
	.h3;
	margin-bottom: @spacer-sm;
}
.account-detail {
	font-size: 13px;
	opacity: 0.5;
}

// #############################################################################
// Responsive layouts for mega-components (Atomic design "organisms")
// ONLY put the media query stuff in here. Do styling elsewhere.
.page-content {
	.flex-container;
	flex-direction: column;
	@media (min-device-width: @screen-widescreen-minWidth) {
		flex-direction: row;
	}	
}
.cards {
	.flex-item;
}
.rails {
	.flex-item;
	@media (min-device-width: @screen-widescreen-minWidth) {
		min-width: 200px;
	}	
}


// #################################################################################
// Responsive behaviours WITHIN components (Atomic design "molecules")
// Presumably these behaviours will get moved into the component's LESS file
.cards-body {
	.flex-container;
}
.card {
	.flex-container;
	flex-direction: column;
	flex-grow: 1;
	@media (max-device-width: @screen-handheld-maxWidth) {
	}
	@media (min-device-width: @screen-tablet-minWidth) and (max-device-width: @screen-tablet-maxWidth) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
	@media (min-device-width: @screen-laptop-minWidth) {
		max-width: 50%;
	}
	@media (min-device-width: 1000px) {
		max-width: 33%;
	}	
}
.card-body,
.card-footer {
	.flex-item;
}

.card-footer {
	.flex-container;
	@media (min-device-width: @screen-tablet-minWidth) and (max-device-width: @screen-tablet-maxWidth) {
		border-top: 0;
	}
	@media (max-device-width: @screen-tiny-maxWidth) {
		flex-direction: column;
	}
}
.card-footer-item {
	.flex-item;
	&:last-child {
		@media (min-device-width: @screen-tablet-minWidth) and (max-device-width:@screen-tablet-maxWidth) {
			display: none;	
		}
	}
}

.rails-body {
	.flex-container;
	flex-direction: row;
	@media (max-device-width: @screen-handheld-maxWidth) {
		flex-direction: column;
	}
	@media (min-device-width: @screen-widescreen-minWidth) {
		flex-direction: column;
	}
}
.rails-item {
	.flex-item;
}




// Pure styles for Components - NO responsive behaviours in here.
.cards,
.rails {
	margin-bottom: @spacer-base;	
}
.card {
	margin-bottom: @spacer-sm;
}
.card-body {
	padding: @spacer-xs @spacer-base;
	line-height: @spacer-base;
}
.card-footer {}
.card-footer-item {
	&:last-child {
		text-align: right;
		@media (max-device-width: @screen-tiny-maxWidth) {
			text-align: left;
		}
	}
}




